body {
	min-height: 75rem;
	padding-top: 3.5rem;
}


nav{
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.dropdown-menu a {
	height:3rem;
}
.crop-text-1 {
	-webkit-line-clamp: 1;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}